@use '../../layout';
@use '../../abstracts';
@use '../../base';

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 11px;
  height: 11px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #ec921d;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #ffedd6;
}

