@use 'abstracts';

a {
  color: inherit !important;
  text-decoration: none !important;
}

@mixin light-border {
  border-color: abstracts.$primary-grey;
  border-width: abstracts.$primary-border-width;
  border-radius: abstracts.$primary-border-radius;
  border-style: solid;
  box-shadow: abstracts.$primary-bs;
}

@mixin green-border {
  border-color: abstracts.$primary-green;
  border-width: 3px;
  border-radius: 6px;
  border-style: solid;
  box-shadow: abstracts.$primary-bs;
}

@mixin orange-border {
  border-color: abstracts.$primary-green;
  border-width: 3px;
  border-radius: 6px;
  border-style: solid;
  box-shadow: abstracts.$primary-bs;
}

@mixin light-border-thin {
  border-color: grey;
  border-width: 1.5px;
  border-radius: 6px;
  border-style: solid;
}

h5 {
  text-align: center;
}

.standard-body {
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
  background-color: #8A9A3C;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// .loading-body {
//   background-color: #8A9A3C;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .splash-img {
//   max-width: 100%;
//   height: auto;
// }