@use '../layout';
@use '../abstracts';
@use '../base';

.program-title {
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}

.program-group-title {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: .5vh;
  padding-bottom: .5vh;
}

.program-group-body {
  @include base.light-border;
  width: 80vw;
  text-align: center;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
}

.program-group-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-week-container {
  min-width: 1320px;
  @include abstracts.paddingY(10px)
}