.section-editor-body {
  background-color: rgb(234, 234, 234);
  border: #8A9A3C;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  min-height: 60vh;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20vw;
  margin-left: 20vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.section-exercise-select {
  width: 200px;
}

.exercise-table {
  background-color: white;
}

.set-col {
  width: 70px;
}
 
.data-col{
  width: 110px;
}

.table {
  width: 100px;
}