@use '../layout';
@use '../abstracts';
@use '../base';

.workout-editor-body {
  @include base.light-border;
  min-height: 60vh;
  margin-bottom: 3vh;
  width: 900px;
  display: flex;
  flex-direction: column;
}

.workout-pane {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.workout-pane-button-container {
  display: flex;
  justify-content: center;
}

.workout-pane-title {
  display: flex;
  height: 2rem;
  align-items: stretch;
}

.workout-empty-block {
  width: 35%;
}

.workout-breadcrumb-row {
  height: 20px;
  width: 100%;
  background-color: red;
}