.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-body-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.form-input-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.form-inputs-auth {
  margin-bottom: 10px;
  min-width: 300px;
}

// .form-inputs2 {
//   margin-bottom: 10px;
//   min-width: 400px;
// }

// .form-inputs3 {
//   margin-bottom: 10px;
//   min-width: 400px;
// }

.general-error {
  color: red;
  text-align: center;
}

.form-input-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}