@use '../layout';
@use '../abstracts';

.my-nav-container {
  @include layout.flex-row-center;
  height: layout.$nav-height;
  background-color: #282c34;
}

.my-nav-brand {
  @include layout.flex-row;
  padding: 4px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}

.my-nav {
  @include layout.flex-row;
  align-items: center;
  justify-content: right;
  flex: 2;
  
}

.my-nav-link {
  color: white;
  text-decoration: none;
}

.brand-text {
  font-weight: 800;
}
.brand-text:hover {
  color: abstracts.$primary-green;
}

.my-nav-item {
  padding: 4px;
  margin:4px;
  color: white;
}
.my-nav-item:hover {
  color: abstracts.$primary-green;
}
.my-nav-item:active {
  background-color: abstracts.$primary-green;
  border-radius: 5px;
}

.right-item {
  margin-right: 10px;
}