@use '../layout';
@use '../abstracts';
@use '../base';

.tabs {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tab-content {
  flex-grow: 4;
  padding: 10px;
}

.tab-nav-container{
  flex-grow: 1;
  min-width: 160px !important;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
  border-right-color: abstracts.$primary-grey;
  border-right-width: abstracts.$primary-border-width;
  border-right-style: solid;
}

.tab-nav-filler {
  flex-grow: 1;
  min-height: 5px;
}

ul.tab-nav {
  margin: 0;
  padding: 0;
}

ul.tab-nav li {
  list-style: none;
  height: 40px;
  text-align: center;
  transition: all 0.3s;
  background-color: abstracts.$primary-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: white 1px solid;
  cursor: pointer;
}

ul.tab-nav li:hover {
  background: grey;
}

ul.tab-nav li.active {
  background: abstracts.$primary-green;
}

