@use '../layout';
@use '../abstracts';
@use '../base';

.tabs {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tab-content {
  width: 100%;
  padding: 10px;
}

.tab-nav-container{
  min-width: 190px !important;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  border-right-color: abstracts.$primary-grey;
  border-right-width: abstracts.$primary-border-width;
  border-right-style: solid;
}

.tab-nav-filler {
  flex-grow: 1;
  min-height: 5px;
}

ul.tab-nav {
  margin: 0;
  padding: 0;
}

ul.tab-nav li {
  list-style: none;
  height: 40px;
  text-align: center;
  transition: all 0.3s;
  background-color: abstracts.$primary-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: rgb(186, 186, 186) 1px solid;
  cursor: pointer;
}

// li.tab-nav-item:hover {
//   background: grey;
// }

// ul.tab-nav li.active {
//   background: abstracts.$primary-green;
// }

li.tab-nav-item {
  display: flex;
}

.tab-add-button {
  display: flex;
  justify-content: center;
  @include abstracts.paddingY(5px)
}

.tab-nav-title{
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-nav-title:hover {
  background: grey;
}

.active:hover {
  background: #6f7c30 !important;
}

.active {
  background: abstracts.$primary-green;
}

.tab-nav-rm {
  width: 35px;
  height: 100%;
  border-left: rgb(202, 202, 202) solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.tab-nav-rm-line {
  height: 4px;
  background-color: rgb(219, 219, 219);
  width: 70%;
  border-radius: 4px;
}

.tab-nav-rm:active {
  padding: 3px;
}

.tab-nav-rm:hover {
  background-color: grey;
}


