@use '../layout';
@use '../abstracts';
@use '../base';

.tabs {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

// .tab-content {
//   flex-grow: 4;
// }

.tab-nav-container{
  width: 175px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
  border-right-color: abstracts.$primary-grey;
  border-right-width: abstracts.$primary-border-width;
  border-right-style: solid;
}

.tab-nav-filler {
  flex-grow: 1;
  min-height: 5px;
}

ul.tab-nav {
  margin: 0;
  padding: 0;
}

ul.tab-nav li {
  list-style: none;
  height: 40px;
  text-align: center;
  transition: all 0.3s;
  background-color: abstracts.$primary-green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: white 1px solid;
}

ul.tab-nav li:hover {
  background: rgb(195, 127, 0);
}

ul.tab-nav li.active {
  background: rgb(217, 141, 0);
}

